<section>
  <ng-container *ngIf="!isLoading; else loading">
    <form (ngSubmit)="resetPassword()" [formGroup]="resetPasswordForm">
      <h1>Reset password</h1>
      <p>Please insert a new password</p>
      <input type="text" name="username" class="d-none" />
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input
          [type]="isPasswordHidden ? 'password' : 'text'"
          autocomplete="new-password"
          matInput
          formControlName="password"
        />
        <span class="registration-pass-icons" matSuffix aria-hidden="false">
          <mat-icon [matTooltip]="passwordToolTip">info_outline</mat-icon>
          <mat-icon
            matTooltip="{{
              isPasswordHidden ? 'Show Password' : 'Hide Password'
            }}"
            class="cursor-pointer"
            (click)="isPasswordHidden = !isPasswordHidden"
          >
            {{ isPasswordHidden ? "visibility_off" : "visibility" }}
          </mat-icon>
        </span>
        <mat-error
          *ngIf="resetPasswordForm.get('password').hasError('required')"
        >
          Password is
          <strong>required</strong></mat-error
        >
        <mat-error
          *ngIf="resetPasswordForm.get('password').hasError('pattern')"
        >
          Invalid password</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Confirm password</mat-label>
        <input
          [type]="isPasswordHidden ? 'password' : 'text'"
          autocomplete="new-password"
          matInput
          formControlName="confirmPassword"
        />
        <span class="registration-pass-icons" matSuffix aria-hidden="false">
          <mat-icon [matTooltip]="passwordToolTip">info_outline</mat-icon>
          <mat-icon
            matTooltip="{{
              isPasswordHidden ? 'Show Password' : 'Hide Password'
            }}"
            class="cursor-pointer"
            (click)="isPasswordHidden = !isPasswordHidden"
          >
            {{ isPasswordHidden ? "visibility_off" : "visibility" }}
          </mat-icon>
        </span>

        <mat-error
          *ngIf="f['confirmPassword'].touched && f['confirmPassword'].invalid"
        >
          <span *ngIf="f['confirmPassword'].errors['required']"
            >Confirm password is <strong>required</strong></span
          >
          <span *ngIf="f['confirmPassword'].errors['confirmedValidator']"
            >Passwords does not match</span
          >
        </mat-error>
      </mat-form-field>
      <button
        type="submit"
        mat-raised-button
        color="primary"
        class="mat-focus-indicator secondary-text primary-bg mat-button mat-button-base padding-12"
        [disabled]="resetPasswordForm.invalid || isAdding"
      >
        Reset password
      </button>
      <p>Did you remember your password? Go back to <a routerLink="/login">login</a></p>
    </form>
  </ng-container>
</section>

<ng-template #loading>
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
