<section>
  <form (ngSubmit)="sendResetLink()" [formGroup]="sendResetLinkForm">
    <h1>Forgot your password?</h1>
    <p>Please insert your email address</p>
    <mat-form-field appearance="fill">
      <mat-label>Email address</mat-label>
      <input type="text" matInput formControlName="email" autocomplete="off" />
      <mat-icon matSuffix aria-hidden="false">person</mat-icon>
      <mat-error *ngIf="sendResetLinkForm.get('email').hasError('required')">
        Emailul este <strong>obligatoriu</strong>
      </mat-error>
      <mat-error *ngIf="sendResetLinkForm.get('email').hasError('pattern')">
        Email invalid
      </mat-error>
    </mat-form-field>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      class="mat-focus-indicator secondary-text primary-bg mat-button mat-button-base padding-12"
      [disabled]="sendResetLinkForm.invalid || isAdding"
    >
      Send the reset password link
    </button>
    <p>Did you remember your password? Go back to <a routerLink="/login">login</a></p>
  </form>
</section>
